streamparse
ujson
tornado
tornado-cors
sqlalchemy
hiredis
redis
thrift
pytest
arrow==0.7.0
# shapely
mock
ansible
kafka-python
boto
boto3
pytest-cov
pylint
autopep8
ipython
inflect
sphinx
elasticsearch>=5.0.0,<6.0.0
psycopg2
geoalchemy2
mysql
flask-restless
flask-api
flask-cors
future
flask-restful
geojson
pyleus
suds
xmltodict
six==1.10.0
python-ldap
protobuf
requests-oauthlib
python-redis-lock
HLL
backoff
